In [24]:
import pandas as pd

df = pd.read_csv('../data/canucks.csv')
df

,Player,No.,Age,Height,Weight,Country,Position,Experience,Birth Date,Salary
0,Justin Bailey,38,24,193.0,214,United States,Forward,4,01-Jul-95,"$700,000"
1,Jay Beagle,83,34,191.0,210,Canada,Forward,11,16-Oct-85,"$3,200,000"
2,Jordie Benn,4,32,188.0,199,Canada,Defense,8,26-Jul-87,"$2,400,000"
3,Guillaume Brisebois,56,22,188.0,175,Canada,Defense,1,21-Jul-97,"$700,000"
4,Thatcher Demko,35,24,193.0,192,United States,Goalie,2,08-Dec-95,"$900,000"
5,Alexander Edler,23,33,191.0,212,Swedan,Defense,13,21-Apr-86,"$7,000,000"
6,Loui Eriksson,21,34,188.0,179,Swedan,Forward,13,17-Jul-85,"$5,000,000"
7,Adam Gaudette,88,23,185.0,184,United States,Forward,2,03-Oct-96,"$925,000"
8,Bo Horvat (C),53,24,183.0,215,Canada,Forward,5,05-Apr-95,"$5,775,000"
9,Quinn Hughes,43,20,178.0,175,United States,Defense,1,14-Oct-99,NaN
10,Zack MacEwen,71,23,191.0,205,Canada,Forward,1,08-Jul-96,"$925,000"
11,Jacob Markstrom,25,30,198.0,206,Swedan,Goalie,9,31-Jan-90,"$4,000,000"
12,J.T. Miller,9,26,185.0,218,United States,Forward,7,14-Mar-93,"$6,000,000"
13,Tyler Myers,57,29,203.0,229,United States,Defense,10,01-Feb-90,"$7,000,000"
14,Tanner Pearson,70,27,185.0,201,Canada,Forward,6,10-Aug-92,"$3,850,000"
15,Elias Pettersson,40,21,188.0,176,Swedan,Forward,1,12-Nov-98,"$925,000"
16,Antoine Roussel,26,30,180.0,199,France,Forward,7,21-Nov-89,"$3,800,000"
17,Tim Schaller,59,29,188.0,204,United States,Forward,5,16-Nov-90,"$1,900,000"
18,Troy Stecher,51,25,178.0,186,Canada,Defense,3,07-Apr-94,"$2,325,000"
19,Brandon Sutter,20,30,191.0,190,United States,Forward,11,14-Feb-89,"$4,500,000"
20,Christopher Tanev,8,30,188.0,197,Canada,Defense,9,20-Dec-89,NaN
21,Jake Virtanen,18,23,185.0,226,Canada,Forward,4,17-Aug-96,"$1,500,000"

In [27]:
list(df.columns)

['Player',
 'No.',
 'Age',
 'Height',
 'Weight',
 'Country ',
 'Position',
 'Experience',
 'Birth Date',
 'Salary']

In [21]:
df.head(2)

,candy bar,chocolate,peanuts,caramel,nougat,cookie_wafer_rice,coconut,white_chocolate,multi,available_canada_america
0,CoffeeCrisp,1,0,0,0,1,0,0,0,Canada
1,Butterfinger,1,1,1,0,0,0,0,0,America

In [25]:
print(df.shape)

(22, 10)

In [18]:
df.length

AttributeError: 'DataFrame' object has no attribute 'length'