In [1]:
import pandas as pd
import sys
df = pd.read_csv('../data/cereal.csv')
df.head(20)
pd.options.display.max_rows = 30

In [ ]:
df

We can use the same format before but now since our rows are named with numbers we no longer need to express the row names in "quotations". So now we would use row names without quotations. 

`df.loc[ row-name-start : row-name-end , "column name start" : "column name end"]`

Let's give our past example a shot. We again want rows "Apple Cinnamon Cheerios" to "Cap'n'Crunch" with all the columns but now the indices are named with numbers.

In [ ]:
df.loc[ 5: 10 ]

What if we wanted only certain columns again too? Note that now `name` is a column now.

In [ ]:
df.loc[ 5: 10, "calories" : "fiber"]

The sliced dataframe no longer has `name` in it so we would have to include it in our slice. In the next slide deck we will talk about selecting specific columns and rows that are not consecutive.

In [ ]:
df.loc[ 5: 10, "name" : "fiber"]

In [ ]:
df.loc[["Wheaties", "Trix", "Clusters"], ['type', 'rating', 'sugars']]

In [ ]:
df.iloc[]

In [ ]:
print(df.shape)

In [ ]:
df.length

In [ ]:
pandas_spec = importlib.util.find_spec("pandas") 
found = pandas_spec is not None

In [ ]:
import importlib

In [ ]:
found

In [ ]:
pandas_spec

In [ ]:
if "pandas" not in sys.modules:
    print('You have not imported the {} module'.format("pandas"))

In [ ]:
df2 = pd.read_csv('../data/cereal.csv', index_col = 0)

df2

In [ ]:
df.loc[ [75, 73, 13] , [ 'name', 'type', 'rating', 'sugars'] ]

In [ ]:
df.loc[ ["Wheaties", "Trix", "Clusters"] , [ "name", 'type', 'rating', 'sugars'] ]

In [3]:
df2 = pd.read_csv('../data/cereal.csv')
df2[1:15]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
1,100% Natural Bran,Q,Cold,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
2,All-Bran,K,Cold,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
3,All-Bran with Extra Fiber,K,Cold,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
4,Almond Delight,R,Cold,110,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
5,Apple Cinnamon Cheerios,G,Cold,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
6,Apple Jacks,K,Cold,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
7,Basic 4,G,Cold,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
8,Bran Chex,R,Cold,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
9,Bran Flakes,P,Cold,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813
10,Cap'n'Crunch,Q,Cold,120,1,2,220,0.0,12.0,12,35,25,2,1.00,0.75,18.042851
11,Cheerios,G,Cold,110,6,2,290,2.0,17.0,1,105,25,1,1.00,1.25,50.764999
12,Cinnamon Toast Crunch,G,Cold,120,1,3,210,0.0,13.0,9,45,25,2,1.00,0.75,19.823573
13,Clusters,G,Cold,110,3,2,140,2.0,13.0,7,105,25,3,1.00,0.50,40.400208
14,Cocoa Puffs,G,Cold,110,1,1,180,0.0,12.0,13,55,25,2,1.00,1.00,22.736446

# MODULE1_12
## Slicing and Selecting Using df.iloc[]

Up to this point we have been manipulating our dataframe with column and row _**names**_ using `df. loc`.     `df.iloc` is very similar, however the "i" in `iloc` refers to index **position**.     
Let's return to our cereal dataset.

In [2]:
df = pd.read_csv('../data/cereal.csv', index_col = 0)
df

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,N,Cold,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
100% Natural Bran,Q,Cold,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
All-Bran,K,Cold,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
All-Bran with Extra Fiber,K,Cold,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
Almond Delight,R,Cold,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Triples,G,Cold,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
Trix,G,Cold,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
Wheat Chex,R,Cold,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
Wheaties,G,Cold,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
Wheaties Honey Gold,G,Cold,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

Let's display the first 15 rows.

In [5]:
df.head(15)

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,N,Cold,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
100% Natural Bran,Q,Cold,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
All-Bran,K,Cold,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
All-Bran with Extra Fiber,K,Cold,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
Almond Delight,R,Cold,110,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
Apple Cinnamon Cheerios,G,Cold,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
Apple Jacks,K,Cold,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
Basic 4,G,Cold,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
Bran Chex,R,Cold,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
Bran Flakes,P,Cold,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813
Cap'n'Crunch,Q,Cold,120,1,2,220,0.0,12.0,12,35,25,2,1.00,0.75,18.042851
Cheerios,G,Cold,110,6,2,290,2.0,17.0,1,105,25,1,1.00,1.25,50.764999
Cinnamon Toast Crunch,G,Cold,120,1,3,210,0.0,13.0,9,45,25,2,1.00,0.75,19.823573
Clusters,G,Cold,110,3,2,140,2.0,13.0,7,105,25,3,1.00,0.50,40.400208
Cocoa Puffs,G,Cold,110,1,1,180,0.0,12.0,13,55,25,2,1.00,1.00,22.736446

Let's say we want `All-Bran` to `Apple Cinnamon Cheerios` but we want to slice based on their position. Using Python's counting method of starting at zero, we conclude `All-Bran` to be at position to 2. We get `Apple Cinnamon Cheerios` position to be 5 in the same way. Using the same coding structure we learned with `df.loc`, if we used the position now the code would look like this.

In [7]:
df.iloc[2:5]

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
All-Bran,K,Cold,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
All-Bran with Extra Fiber,K,Cold,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
Almond Delight,R,Cold,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

But why doesn't "Apple Cinnamon Cheerios" appear in the dataframe? That's because when we use slicing by index position, it will take all the indices including the lower bound but _BEFORE_ the upper bound. So if we wanted to include "Apple Cinnamon Cheerios" we would have to go 1 index position further.

In [8]:
df.iloc[2:6]

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
All-Bran,K,Cold,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
All-Bran with Extra Fiber,K,Cold,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
Almond Delight,R,Cold,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
Apple Cinnamon Cheerios,G,Cold,110,2,2,180,1.5,10.5,10,70,25,1,1.0,0.75,29.509541

Ah, that's better.

Now with the same concepts would apply to the columns of the dataframe.   
Let's say we want all the rows but we only want the  columns starting at  `protein` and ending (including) at column `sugars`.     
Using the logic we learned in the last set of slides we would use the following code

In [9]:
df.iloc[:, 3:9]

                           protein  fat  sodium  fiber  carbo  sugars
name
100% Bran                        4    1     130   10.0    5.0       6
100% Natural Bran                3    5      15    2.0    8.0       8
All-Bran                         4    1     260    9.0    7.0       5
All-Bran with Extra Fiber        4    0     140   14.0    8.0       0
Almond Delight                   2    2     200    1.0   14.0       8
...                            ...  ...     ...    ...    ...     ...
Triples                          2    1     250    0.0   21.0       3
Trix                             1    1     140    0.0   13.0      12
Wheat Chex                       3    1     230    3.0   17.0       3
Wheaties                         3    1     200    3.0   17.0       3
Wheaties Honey Gold              2    1     200    1.0   16.0       8

[77 rows x 6 columns]

we would need to specify all rows using ` : ` as we did using `df.loc[]`. The column `protein` is at index position 3 and `sugars` is at index position 8, but since we want to include the 8th column we need to use the 9th position to make sure we get all the columns _BEFORE_ the upper bound.

The same would apply if we only wanted certain rows with certain columns so now we want the rows  `All-Bran` to `Apple Cinnamon Cheerios` and `protein` to `sugars`.     
**Rows**    
`All-Bran` being at position 2.     
`Apple Cinnamon Cheerios` being at position 5.     
**Columns**   
`protein` being at position 3.     
`sugar` being at position 8

In [11]:
df.iloc[2:6, 3:9]

                           protein  fat  sodium  fiber  carbo  sugars
name
All-Bran                         4    1     260    9.0    7.0       5
All-Bran with Extra Fiber        4    0     140   14.0    8.0       0
Almond Delight                   2    2     200    1.0   14.0       8
Apple Cinnamon Cheerios          2    2     180    1.5   10.5      10

Both of our upper bound have now been compensated with + 1 to make sure it they are included.

## Selecting with `df.iloc[]`

Selecting using `iloc` is done identically to `loc` however the items withing each set of square brackets **MUST** be numeric.   

Lets say we want the rows `Cheerios`, `Basic 4` and `Apple Jacks`  with the columns `rating`, `fat` and `type` _in that order_. 

**Rows**    
`Cheerios` being at position 2.     
`Basic 4` being at position 5.    
`Apple Jacks` being at position 3.

**Columns**   
`rating` being at position 14.  
`fat` being at position 4.  
`type` being at position 1.

Now let's put those position into square backing within `df.iloc[]`

In [13]:
df.iloc[[11, 7, 6], [14, 4, 1]]

                rating  fat  type
name
Cheerios     50.764999    2  Cold
Basic 4      37.038562    2  Cold
Apple Jacks  33.174094    0  Cold

Super! Nice work! Let's apply this in some practice questions now.

QUESTIONS

Summary statistics 
Vis

In [ ]:
Questions